:root {
  --planet-yellow: #EAD461;
  --planet-grey: #646464;
  --planet-red: #D32323;
  --planet-black: #050404;

  background-color: whitesmoke;

  font-family: 'Caveat', cursive;
  font-family: 'Homenaje', sans-serif;

  font-size: 16px;
  color: var(--dark-grey)
}

body {
  margin: 0;
  margin-top: 7vh;
  box-sizing: border-box;
  font-family: 'Homenaje', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* --- Starts Header banner styles --- */
header {
  position: fixed;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: top;

  box-sizing: border-box;
  height: 7vh;
  min-height: 3rem;
  width: 100%;

  background-color: whitesmoke;
  border-bottom: 2px var(--planet-red) solid;

  padding-top: 1rem;
}

.logo {
  height: 8vh;
}
/* --- Ends Header banner styles --- */


/* --- Starts OfferCountdown styles --- */
.offer {
  box-sizing: border-box;
  width: 100%;

  font-family: 'Caveat', cursive;
  font-size: calc(0.7rem + 1vw);
  color: #fff;
  text-align: center;

  background-color: var(--planet-red);
  border-top: 4px #fff dashed;
  border-bottom: 4px #fff dashed;
}
/* --- Ends OfferCountdown styles --- */


/* --- Starts Calculator styles --- */
.hero-banner {
  box-sizing: border-box;
  min-height: 50vh;
  position: relative;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;

  background: url("https://i1.wp.com/i.kinja-img.com/gawker-media/image/upload/s--5hPx0GSP--/euzqagy30c0ooqkwhdj6.gif") no-repeat 30%/cover;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}

.details-container {
  position: relative;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

.details-card {
  box-sizing: border-box;
  background-color: rgb(245, 245, 245, 0.9);
  width: 36vw;

  text-align: center;
  font-size: calc(1rem + 0.2vw);
  margin: 1rem;
  padding: 2rem calc(0.5rem + 0.2vw) ;

  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px var(--planet-red);
}

.details-card h4 {
  font-size: calc(1rem + 0.5vw);
}

button {
  border: 1px solid var(--planet-red);
  border-radius: 15%;
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--planet-red);
  color: white;
}

.price-card {
  position: relative;
  color: whitesmoke;
  font-size: calc(0.75rem + 1vw);
}
/* --- Ends Calculator styles --- */


/* --- Starts The Company styles --- */
.grid{
  display: grid;
  column-gap: calc(1.5rem + 0.5vw);
  row-gap: calc(1.5rem + 0.5vh);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2rem;
}

.card {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1rem;
  padding: 1rem calc(0.5rem + 0.5vw);
  background-color: white;
  border: 1px solid var(--planet-grey);
  border-radius: 1rem;
  box-shadow: 2px 2px 2px var(--planet-grey);
}

.card p {
  font-size: calc(1rem + 0.5vw);
  text-align: justify;
}

.card-img img{
  width: 100%;
}

.employee-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* --- Ends The Company styles --- */


/* --- Starts Newsletter styles --- */
.newsletter {
  box-sizing: border-box;

  text-align: center;
  font-size: calc(1rem + 0.5vw);
  padding: 1.5rem 1rem;

  background-color: var(--planet-yellow);
  box-shadow: 0 -5px 5px -5px var(--planet-grey);
}

.newsletter h2{
  display: block;
}

input {
  box-sizing: border-box;
  max-width: 250px;
  padding: 0.5rem 1rem;
  margin: 8px 0;
  border-radius: 0.5rem;
  border: none;
}

input[type=email] {
  width: 65%;
  outline: none
}

input[type=submit] {
  background-color: var(--planet-red);
  color: white;
  font-weight: bold;
  margin: 0.5rem;
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background-color: white;
  color: var(--planet-red);
}
/* --- Ends Newsletter styles --- */


/* --- Starts Footer styles --- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 10vh;
  width: 100%;
  background-color: var(--planet-grey);
  box-shadow: 0 -5px 5px -5px var(--planet-grey);

  color: whitesmoke;
  font-family: 'Caveat', cursive;
  font-size: calc(1rem + 0.3vw);
}

footer a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}
/* --- Ends Footer styles --- */
